body {
    background-color: #eeeeee;
}
.content {
    min-width: 200px !important;
    min-height: 300px !important;
    width: 300px;
    height: 400px;
    padding-right: 25px;
    padding-left: 10px;
}